@model IEnumerable<string>
<style>
	ol {
		list-style: lower-alpha;
	}
	 ol li {
		 display: block;
		 float: left;
		 margin: 1em;		
	 }
</style>
	<div ng-controller="fizzBuzzCtrl" class="jumbotron">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<h1>Fizz Buzz</h1>
				<input ng-model="input" ng-change="updateFizzBuzz(input)" />
				<ol type="1"> 
					<li ng-repeat="val in result track by $index">{{val}}</li>
				</ol>
			</div>
			<div class="col-md-2"></div>
		</div>

	</div>

<script language="javascript">
	function fizzBuzzCtrl($scope,$http) {
		$scope.input = 1;
		$scope.result = "1";

		var demo = ['1','2','Fizz','4','Buzz','Fizz','7','8','Fizz','Buzz','11']

		$scope.updateFizzBuzz = function (val) {
			$http.get('/api/fizzbuzz/' + val).success(function(data) {
				$scope.result = data;
			})
		}
	}
</script>